.header-tag-one{
    text-align: center;
    margin-top: 5%;
}
.header-tag-one h6{
    font-size: 1vw;
}
.header-tag-one h4{
    font-size: 3vw;
}
.text-underline-one{
    height: 1%;
    width: 10%;
    background-color: #ff0000;
    
}
.card-one, .card-two, .card-three{
    background-repeat: no-repeat;
    display: cover;
    margin-top: 3rem;
}
.card-one{
    background-image: url(../../../asset/image/mt-1802-home-img01.jpg);
}
.card-two{
    background-image: url(../../../asset/image/mt-1802-home-img02.jpg);
}
.card-three{
    background-image: url(../../../asset/image/mt-1802-home-img03.jpg);
}
.card-tag{
    margin-top: 9rem;
    color: white;
    margin-bottom: 2rem;
}
.card-tag h2{
    font-size: 2vw;
    font-weight: 400;
}
.card-tag p{
    font-size: 1vw;
    font-weight: 300;
}
.button-glow:focus,
.button-glow:active{
    box-shadow:none !important;
    outline:0px !important;
}
.card-tag Button{
    border: 1px solid #ff0000;
    border-radius: 0px !important;
    width: 30% !important;
    font-size: 1vw;
}
.nav-button{
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}
.nav-button:hover{
    color: white;
}

/* Responsive cards */
@media screen and (max-width: 1920px) {
    .row{
        margin-left: 1%;
    }
    .response-card{
        padding-left: 1%;
        padding-right: 1%;
        background-repeat: no-repeat;
        background-size: 95% 95%;
        margin: 3px auto 0;
        position: relative;
        
    }
    
}
@media screen and (max-width: 1080px) {
     
}
@media screen and (max-width: 840px) {
     
}
@media screen and (max-width: 780px) {
     
}
@media screen and (max-width: 540px) {
    .header-tag-one h6{
        font-size: 2vw;
    }
    .header-tag-one h4{
        font-size: 5vw;
    }
    .card-tag h2{
        font-size: 4vw;
        font-weight: 400;
    }
    .card-tag p{
        font-size: 2vw;
        font-weight: 300;
    }
    .card-tag Button{
        width: 40% !important;
        font-size: 3vw;
    }
}
@media screen and (max-width: 414px) {
    
}
@media screen and (max-width: 411px) {
    
}
@media screen and (max-width: 375px){
       
}
@media screen and (max-width: 360px) {
    
}
@media screen and (max-width: 320px) {
    
}
@media screen and (max-width: 280px) {
    .header-tag-one h6{
        font-size: 2vw;
    }
    .header-tag-one h4{
        font-size: 5vw;
    }
    .card-tag h2{
        font-size: 4vw;
        font-weight: 400;
    }
    .card-tag p{
        font-size: 2vw;
        font-weight: 300;
    }
    .card-tag Button{
        width: 40% !important;
        font-size: 3vw;
    }
}