.service-card-one, .service-card-two, .service-card-three{
    background-repeat: no-repeat;
    display: cover;
    margin-top: 3rem;
    height: 20rem;
}
.service-card-one{
    background-image: url(../../asset/image/mt-1802-home-img04.jpg);
}
.service-card-two{
    background-image: url(../../asset/image/mt-1802-home-img05.jpg);
}
.service-card-three{
    background-image: url(../../asset/image/mt-1802-home-img06.jpg);
}
.service-card-tag{
    margin-top: 12rem;
    color: white;
    margin-bottom: 2rem;
}
.service-card-tag h2{
    font-size: 2vw;
    font-weight: 400;
}
.button-glow:focus,
.button-glow:active{
    box-shadow:none !important;
    outline:0px !important;
}
.service-card-tag Button{
    border: 1px solid #ff0000;
    border-radius: 0px !important;
    width: 30% !important;
    font-size: 1vw;
}
.nav-button{
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}
.nav-button:hover{
    color: white;
}

/* Responsive */
@media screen and (max-width: 1080px) {
     
}
@media screen and (max-width: 840px) {
     
}
@media screen and (max-width: 780px) {
    .service-card-tag h2{
        font-size: 2vw;
    }
    .service-card-tag Button{
        width: 40% !important;
        font-size: 1vw;
    }
}
@media screen and (max-width: 540px) {
    .service-card-tag h2{
        font-size: 4vw;
    }
    .service-card-tag Button{
        width: 40% !important;
        font-size: 2vw;
    }
}
@media screen and (max-width: 414px) {
    .service-card-tag h2{
        font-size: 5vw;
    }
    .service-card-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
}
@media screen and (max-width: 411px) {
    .service-card-tag h2{
        font-size: 5vw;
    }
    .service-card-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
}
@media screen and (max-width: 375px){
       
}
@media screen and (max-width: 360px) {
    .service-card-tag h2{
        font-size: 5vw;
    }
    .service-card-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
}
@media screen and (max-width: 320px) {
    
}
@media screen and (max-width: 280px) {
    
}

