.carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
}
.slider-tag{
    text-align: left;
    margin: 0% 0% 4% 0%;    
}
.slider-tag h3{
    font-size: 3vw;
    color: #ff0000;
    text-shadow: 2px 2px #ffffff;
}
.slider-tag p{
    font-size: 2vw;
    text-shadow: 2px 2px #ff0000;
}
.slider-tag Button{
    border: 1px solid #ff0000;
    border-radius: 0px !important;
    width: 20% !important;
    font-size: 1vw;
}
.button-glow:focus,
.button-glow:active{
    box-shadow:none !important;
    outline:0px !important;
}
.carousel-indicators li {
    display: none !important;
}
.carousel-item {
    transition: transform .6s ease-in-out !important;
}
.response-slider{
    margin-top: 5.6%;
}
.nav-button{
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}
.nav-button:hover{
    color: white;
}

/* Responsive */

@media screen and (max-width: 840px) {
    .response-slider{
        margin-top: 13%;
    }  
}
@media screen and (max-width: 1080px) {
    .response-slider{
        margin-top: 9%;
    }  
}
@media screen and (max-width: 780px) {
    .response-slider{
        margin-top: 13%;
    }  
}
@media screen and (max-width: 540px) {
    .response-slider{
        margin-top: 19%;
    }
    .slider-tag{
        margin: 0% 0% -4% -18%; 
    }  
}
@media screen and (max-width: 414px) {
    .response-slider{
        margin-top: 25%;
    }
    .slider-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
    .slider-tag{
        margin: 0% 0% -11% -18%; 
    } 
}
@media screen and (max-width: 411px) {
    .slider-tag {
        margin: 0% 0% -12% -20%;
    }
    .slider-tag Button{
        width: 29% !important;
        font-size: 3vw;
    }
    .slider-tag h3{
        font-size: 3vw;
    }
    .slider-tag p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 375px){
    .response-slider{
        margin-top: 29%;
    }
    .slider-tag {
        margin: 0% 0% -14% -18%;
    }    
}
@media screen and (max-width: 360px) {
    .response-slider{
        margin-top: 29%;
    }
    .slider-tag {
        margin: 0% 0% -14% -20%;
    }
    .slider-tag Button{
        font-size: 2vw;
    }
    .slider-tag h3{
        font-size: 3vw;
    }
    .slider-tag p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 320px) {
    .response-slider{
        margin-top: 33%;
    }
    .slider-tag {
        margin: 0% 0% -16% -20%;
    }
    .slider-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
    .slider-tag h3{
        font-size: 3vw;
    }
    .slider-tag p{
        font-size: 2vw;
    }
}
@media screen and (max-width: 280px) {
    .response-slider{
        margin-top: 38%;
    }
    .slider-tag{
        margin: 0% 0% -18% 0%;    
    }
    .slider-tag Button{
        width: 40% !important;
        font-size: 3vw;
    }
    .slider-tag h3{
        margin: 0% 0% 3% 0%;
    }
    .slider-tag p{
        margin: 0% 0% 2% 0%;
    }
}

    