.impact-tag{
    margin-top: 10%;
}
.impact-tag h6{
    font-size: 1vw;
}
.impact-tag h4{
    font-size: 3vw;
}
.impact-tag i{
    font-size: 2vw;
    color: gray;
}
.text-underline{
    height: 1%;
    width: 10%;
    background-color: #ff0000;
}
.impact-tag Button{
    border: 1px solid #ff0000;
    border-radius: 0px !important;
    width: 20% !important;
    font-size: 1vw;
}
.button-glow:focus,
.button-glow:active{
    box-shadow:none !important;
    outline:0px !important;
}

/* Responsive */

@media screen and (max-width: 1080px) {
     
}
@media screen and (max-width: 840px) {
     
}
@media screen and (max-width: 780px) {
     
}
@media screen and (max-width: 540px) {
    .impact-tag h6{
        font-size: 2vw;
    }
    .impact-tag h4{
        font-size: 5vw;
    }
    .impact-tag i{
        font-size: 3vw;
    }
    .text-underline{
        height: 1%;
        width: 15%;
    }
    .impact-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
}
@media screen and (max-width: 414px) {
    
}
@media screen and (max-width: 411px) {
    
}
@media screen and (max-width: 375px){
       
}
@media screen and (max-width: 360px) {
    
}
@media screen and (max-width: 320px) {
    
}
@media screen and (max-width: 280px) {
    .impact-tag h6{
        font-size: 2vw;
    }
    .impact-tag h4{
        font-size: 5vw;
    }
    .impact-tag i{
        font-size: 3vw;
    }
    .text-underline{
        height: 1%;
        width: 15%;
    }
    .impact-tag Button{
        width: 30% !important;
        font-size: 3vw;
    }
}